extends layout
block content
  h1= title
  form(method='POST' action='/')
    div.form-group
      label(for='name')
      input#name.form-control(type='text', placeholder='Enter emoji here' name='name' size="50" style.height="1000px")

    <button type="submit" class="button_primary">Emotion Catch</button>
