body {

  text-align: center;
  padding:150px 0;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
  width = 50px;
}


.button_primary {
  width:100px;
  position: relative;
}
